body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(248, 248, 244); */
  background: #e6e2d3;
  /* background:  #96897f; */
}
.sidebar-gradient {
  /* background-color: #96897f; */
  background-color: #625750;
  color: white;
}
.col-10{
    font-size: 2rem;
    font-weight: bold;
}
